.footer{
    display: flex;
    justify-content: space-between;
    padding: 13px;
    width: 99%;
    border-top: 2px solid #2e3241;
    align-items: center;
    
}
.nothing{
    width: 98%;
    height: 47px;
}
.footer-one{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text{
    font-family: Oswald,sans-serif;
    padding-right: 7px;
    font-size: 12px;
    font-weight: 500;
    color: #888686;
    text-align: center;
    
}
.footer-text span{
    color: rgb(61, 198, 193);
    cursor: pointer;
}
@media(max-width:388px){
    .footer-text{
        font-size: 8px;
    }
    .footer{
        justify-content: space-evenly;
        padding: 0;
    }
    .footer-one{
        justify-content: space-evenly;
    }
}